@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>

<body>
    <div class="container">
        <center>
            <h1><a href="/Home/Vue">Vue version</a></h1>
            <h1><a href="/Home/React">React version</a></h1>
        </center>
    </div>
</body>
</html>